<mat-sidenav-container [hasBackdrop]="false" class="sidenav-container" autosize>
    <mat-sidenav #sidenav [mode]="'side'" opened="true" mwlResizable [ngStyle]="resizeStyle" (resizeEnd)="onResizeEnd($event)" mwlResizeHandle [resizeEdges]='{ right: true }'>
        <div id="nav_body">
          <app-user-info></app-user-info>
          <app-nav></app-nav>
        </div>
        <div id="nav_footer"></div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-color-button [themeColor]="'primary'" id="primary_theme"></app-color-button>
        <app-color-button [themeColor]="'accent'" id="accent_theme"></app-color-button>
        <app-color-button [themeColor]="'warn'" id="warn_theme"></app-color-button>
        <app-color-button [themeColor]="'success'" id="success_theme"></app-color-button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-theme-button></app-theme-button>
