.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mat-sidenav {
        max-width: 60%;
        min-width: 70px;
        width: 320px;
        cursor: text;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 8px;
            cursor: e-resize;
        }
    }
    &::ng-deep .mat-drawer-inner-container {
      overflow: hidden;
    }
}

#nav_body {
  height: calc(100% - 80px);
  overflow-y: auto;
  overflow-x: hidden;
}

#nav_footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

#primary_theme {
  position: absolute;
  top: 20%;
  z-index: 999;
}
