@use '@angular/material' as mat;

@mixin _apply-app-root-styles($color) {
  *::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: mat.get-color-from-palette($color, 50);
    /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: mat.get-color-from-palette($color, 100);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 2px solid mat.get-color-from-palette($color, 200);
    /* creates padding around scroll thumb */
}
  .dark-theme {
  }
}

@mixin color($color-config) {
  $primary-color: mat.get-color-from-palette($color-config, primary);
  $accent-color: mat.get-color-from-palette($color-config, accent);
  $warn-color: mat.get-color-from-palette($color-config, warn);

  app-root.primary-root {
   @include _apply-app-root-styles($primary-color);
  }

  app-root.accent-root {
    @include _apply-app-root-styles($accent-color);
  }

  app-root.warn-root {
    @include _apply-app-root-styles($warn-color);
  }
}

@mixin theme($theme-config) {

  $color-config: mat.get-color-config($theme-config);

  @if $color-config != null {
    @include color($color-config)
  }
}

