@use '@angular/material' as mat;

@mixin _apply-app-root-styles($color) {
  *::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: mat.get-color-from-palette($color, 50);
    /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: mat.get-color-from-palette($color, 100);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 2px solid mat.get-color-from-palette($color, 200);
    /* creates padding around scroll thumb */
}
  #primary {
    background: #a0d0fa;
  }
  #accent {
    background: #ffcc80;
  }
  #warn {
    background: #ef9a9a;
  }
  #success {
    background: #c5e1a5;
  }
  .dark-theme {
    *::-webkit-scrollbar-track {
        background: mat.get-color-from-palette($color, 200);
        /* color of the tracking area */
    }

    *::-webkit-scrollbar-thumb {
        background-color: mat.get-color-from-palette($color, 600);
        /* color of the scroll thumb */
        border-radius: 20px;
        /* roundness of the scroll thumb */
        border: 2px solid mat.get-color-from-palette($color, 800);
        /* creates padding around scroll thumb */
    }
    #primary {
      background: #5d6b72;
    }
    #accent {
      background: #318436;
    }
    #warn {
      background: #b71c1c;
    }
    #success {
      background: #018d7d;
    }
  }
}

@mixin color($color-config) {
  $primary-color: mat.get-color-from-palette($color-config, primary);
  $accent-color: mat.get-color-from-palette($color-config, accent);
  $warn-color: mat.get-color-from-palette($color-config, warn);
  $success-color: mat.get-color-from-palette($color-config, success);

  app-root.primary-root {
   @include _apply-app-root-styles($primary-color);
  }

  app-root.accent-root {
    @include _apply-app-root-styles($accent-color);
  }

  app-root.warn-root {
    @include _apply-app-root-styles($warn-color);
  }

  app-root.success-root {
    @include _apply-app-root-styles($success-color);
  }
}

@mixin theme($theme-config) {

  $color-config: mat.get-color-config($theme-config);

  @if $color-config != null {
    @include color($color-config)
  }
}

