@use '@angular/material' as mat;

@mixin _apply-app-theme-button-styles($color) {
  #position_fixed {
    background: mat.get-color-from-palette(mat.$grey-palette, 300);
    svg {
      fill: mat.get-color-from-palette(mat.$grey-palette, 600);
    }
  }
  .dark-theme#position_fixed {
    background: mat.get-color-from-palette(mat.$grey-palette, 700);
    .button_handle svg {
      fill: mat.get-color-from-palette(mat.$grey-palette, 500);
    }
  }
}

@mixin color($color-config) {
  $primary-color: mat.get-color-from-palette($color-config, primary);
  $accent-color: mat.get-color-from-palette($color-config, accent);
  $warn-color: mat.get-color-from-palette($color-config, warn);

  app-theme-button.primary-theme {
   @include _apply-app-theme-button-styles($primary-color);
  }

  app-theme-button.accent-theme {
    @include _apply-app-theme-button-styles($accent-color);
  }

  app-theme-button.warn-theme {
    @include _apply-app-theme-button-styles($warn-color);
  }
}

@mixin theme($theme-config) {
  $color-config: mat.get-color-config($theme-config);

  @if $color-config != null {
    @include color($color-config)
  }
}

